@using Umbraco.Cms.Core.Models.Blocks
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Home>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    //var apiBlockItem = Model.Api; // BlockListItem
}

@* <h1>@Model.Title</h1>

@if (apiBlockItem != null)
{
    @Html.GetBlockListHtml(new BlockListModel(new[] { apiBlockItem }))
} *@